#content
{
    display: block;
    padding-bottom: 60px;
}

#content-side
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#content-side section
{
    margin: 0px 0px 20px 0px;
}

@media only screen and (min-width: 601px) and (max-width: 1024px)
{
    #content-side
    {
        display: block;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 600px)
{
    #content-side
    {
        display: block;
        padding-top: 15px;
    }
}