#content
{
    display: block;
    padding-bottom: 60px;
}

#content-side
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#content-side section
{
    margin: 0px 0px 20px 0px;
}