#content
{
	display: grid;
	grid-template-columns: minmax(200px, min-content) 1fr;
	gap: 10px;
}

#content .section
{
	padding: 30px;

    height: fit-content;

	border-radius: 15px;
	background-color: #ffffff;
}

#content .section > h3:not(:first-child)
{
    padding-top: 15px;
}

#content .section p
{
    padding-top: 3px;
}

#content .section input
{
    display: none;
    width: 90px;

    background-color: #ffffff;
	border: 0;
	border-bottom: 2px solid #333333;
	outline: none;
}

#content .section .item 
{
    clear: both;
    padding-top: 15px;
}

#content .section .item p
{
    float: left;
    width: 100px;
    padding-right: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    resize: horizontal;
}

#content .section .item .icons
{
    float: right;
}

#content .section .item .icons i
{
    padding-right: 10px;

    color: #000000;
}
  
@media only screen and (max-width: 767px)
{
	#content
    {
        display: block;
    }

    #content .section
    {
        margin-bottom: 20px;
    }
}