#content
{
	display: grid;
	grid-template-columns: minmax(300px, min-content) 1fr;
	gap: 10px;
}

#content .section
{
	padding: 30px;

    height: fit-content;

	border-radius: 15px;
	background-color: #ffffff;
}

#content .section > h3:not(:first-child)
{
    padding-top: 15px;
}

#content .section p
{
    padding-top: 3px;
}

#content #info input
{
    width: 90px;

    background-color: #ffffff;
	border: 0;
	border-bottom: 2px solid #333333;
	outline: none;
}

#content .section .item 
{
    clear: both;
    padding-top: 15px;
}

#content .section .item p
{
    float: left;
    padding-right: 15px;
}

#content .section .item .icons
{
    float: right;
}

#content .section .item .icons i
{
    padding-right: 10px;

    color: #000;
}

#content #reviews
{
    max-height: 300px;

    overflow: auto;
}

#content #reviews h3
{
    display: inline-block;
}

#content #reviews i
{
    float: right;

    color: #000;
    cursor: pointer;
}

#content #reviews form
{
    margin: 10px 0px;
}

#content #reviews form textarea
{
    resize: none;

    height: 110px;
    width: 100%;

    background-color: #ffffff;
	border: 0;
	border-bottom: 2px solid #333333;
	outline: none;

    color: #000;
}

#content #reviews form input[type="submit"]
{
    transition: 0.4s;

    margin: 5px 0px;
    padding: 10px;
    width: fit-content;

    background-color: #fff;
    border: 1px solid #000;

    cursor: pointer;
}

#content #reviews form input[type="submit"]:hover
{
    background-color: #000;
    color: #fff;
}

#content #reviews .review a
{
    font-weight: bolder;
    font-style: italic;
    color: #000;
    text-decoration: none;
}
  
@media only screen and (max-width: 767px)
{
	#content
    {
        display: block;
    }

    #content .section
    {
        margin-bottom: 20px;
    }
}