#content
{
    display: grid;
    grid-template-columns: 50% 50%;
}

#content .section
{
    padding: 50px;

	background-color: #ffffff;
	border-radius: 5px;
}

#content .section p
{
	display: none;
	margin-bottom: 20px;
	padding: 15px;

	background-color: #ff9f9f;
	border-radius: 5px;

	text-align: center;
}

#content .section label
{
    display: block;

    font-weight: bold;
}

#content .section label:not(:first-child)
{
    padding: 10px 0px 10px 0px;
}
#content .section form select
{
    padding: 10px;
    width: 50%;

    outline: none;
}

#content .section form input[type="text"]
{
    padding: 15px;
    width: 100%;

    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;
}

#content .section form textarea
{
    height: 200px;

    background-color: #ffffff;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;

    color: #000000;

    resize: none;
}

#content .section form input[type="number"]
{
    padding: 15px;
    width: 60%;

    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;
}

#content .section form input[type="submit"]
{
    transition: 0.4s;

    margin-left: 15px;
    padding: 15px;
    width: 36%;

    background-color: #ffffff;
    border: 1px solid #000000;

    cursor: pointer;
}

#content .section form input[type="submit"]:hover
{
    background-color: #000000;
    color: #ffffff;
}

#content .section input[type="file"]
{
    display: block;
}

#content .section img
{
    margin-top: 5px;
    margin-right: 10px;

    border: 1px solid #000000;
}

@media only screen and (max-width: 1119px) and (min-width: 1024px) 
{
	#content .section form input[type="text"]
    {
        display: block;
        width: 100%;
    }

    #content .section form select
    {
        width: 100%;
    }

    #content .section form input[type="number"]
    {
        width: 100%;
    }

    #content .section form input[type="submit"]
    {
        display: block;
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
}
  
@media only screen and (max-width: 1023px) and (min-width: 768px) 
{
	#content .section form input[type="text"]
    {
        display: block;
        width: 100%;
    }

    #content .section form select
    {
        width: 100%;
    }

    #content .section form input[type="number"]
    {
        width: 100%;
    }

    #content .section form input[type="submit"]
    {
        display: block;
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
}
  
@media only screen and (max-width: 767px)
{
    #content
    {
        display: block;
    }

    #content .section form select
    {
        width: 100%;
    }

	#content .section form input[type="text"]
    {
        display: block;
        width: 100%;
    }

    #content .section form input[type="number"]
    {
        width: 100%;
    }

    #content .section form input[type="submit"]
    {
        display: block;
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
}