#content #categories
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}

#content #categories .section
{
	cursor: pointer;
}

#content #items
{
	display: none;
}

#wrapper-search form
{
	position: absolute;
	top: 45%;

	width: 100%;
}

#wrapper-search form input
{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#wrapper-search form input[type="text"]
{
	transition: 0.3s;

	width: 35%;

	padding: 15px 20px 15px 20px;

	border: 1px solid #212121;
	border-radius: 5px;

	background-color: #212121;
	color: #ffffff;
}

#wrapper-search form input:hover
{
	border: 1px solid #ffffff;
}

#wrapper-search form button[type="submit"]
{
	margin-left: -50px;
	padding: 10px;

	border: 0;

	background-color: #212121;
	color: #ffffff;

	cursor: pointer;
}

#content #categories .section
{
	transition: 0.4s;
	padding: 30px;

	border-radius: 15px;
	background-color: #ffffff;
	text-align: center;
}

#content #categories .section:hover
{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#content #categories .section i
{
	padding-bottom: 10px;

	font-size: 200%;
}

#content #categories .section a:link
{
	color: #000000;
	text-decoration: none;
}

#content #categories .section a:visited
{
	color: #000000;
}

#content #items
{
	display: block;

	column-count: 4;
	column-gap: 15px;
}

#content #items .item
{
	display: inline-block;
	margin: 5px 0px;

	width: 100%;
	height: auto;
	overflow: auto;
	
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#content #items .item .item-image
{
	height: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#content #items .item .title
{
	display: block;
	padding: 10px 30px;
}

#content #items .item .author
{
	display: block;
	padding: 0px 30px;
}

#content #items .item .desc
{
	display: block;
	padding: 10px 30px 20px 30px;
}

#content #items .item .price
{
	display: block;
	padding: 10px 30px 20px 30px;

	font-weight: bold;
}

#content #items #empty-category
{
	margin: 50px;

	text-align: center;

	color: #bbbbbb;
}

#content #items #empty-category i
{
	padding-top: 20px;
	padding-bottom: 40px;

	font-size: 250%;
}


@media only screen and (max-width: 1119px) and (min-width: 1024px) 
{
	#content #items
	{
		column-count: 4;
	}
}
  
@media only screen and (max-width: 1023px) and (min-width: 768px) 
{
	#content #items
	{
		column-count: 3;
	}
}
  
@media only screen and (max-width: 767px)
{
	#content #items
	{
		column-count: 2;
	}
}