*
{
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: 'Helvetica';
}

body
{
	background-color: #f5f5f5;

	position: relative;
	margin: 0;

	min-height: 100%;
}

#header
{
	display: grid;
	grid-template-columns: auto auto;
	padding: 20px 350px;
	
	line-height: 30px;

	background-color: #f5f5f5;
}

#header a:link
{
	transition: 0.3s;

	padding: 10px;

	color: #000000;

	text-decoration: none;
}

#header a:visited
{
	color: #000000;
}

#header a:hover
{
	background-color: #000000;

	color: #ffffff;
}

#header #current-page
{
	background-color: #000000;

	color: #ffffff;
}

#header #navbar
{
	text-align: right;
}

#header #navbar li
{
	display: inline;

	list-style-type: none;
}

#header #navbar i
{
	padding-right: 5px;
}

#header #hamburger-menu
{
	display: none;
}

#wrapper-search
{
	position: relative;

	height: 300px;

	background-image: url('../resources/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;
}

#wrapper-banner
{
	padding: 15px 350px;

	background-color: #333333;
	color: #ffffff;
}

#content
{
	margin: 30px 350px 80px 350px;
}

#footer #info
{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 100px;

	padding: 20px 350px 0px 350px;

	height: 380px;

	background-color: #333333;
	color: #ffffff;
}

#footer #info p
{
	text-align: justify;

	color: #cecece;
}

#footer #info .col a:link
{
	display: block;

	color: #cecece;
	text-decoration: none;
}

#footer #info .col a:visited
{
	color: #cecece;
}

#footer #info .col form input[type="email"], textarea
{
	transition: 0.3s;

	border: 1px solid #212121;

	margin: 3px 5px 5px 0px;
	padding: 15px 10px 15px 10px;

	width: 100%;

	background-color: #212121;

	color: #ffffff;
}

#footer #info .col form textarea
{
	height: 130px;

	resize: none;
}

#footer #info .col form input[type="email"]:hover, textarea:hover
{
	border: 1px solid #ffffff;
}

#footer #info .col form input[type="submit"]
{
	transition: 0.3s;

	padding: 10px;

	border: 1px solid #212121;
	background-color: #212121;
	color: #ffffff;

	cursor: pointer;
}

#footer #info .col form input[type="submit"]:hover
{
	border: 1px solid #ffffff;
}

#footer #socials
{
	position: absolute;

	right: 0;
	bottom: 0;
	left: 0;

	padding: 20px 0px 20px 0px;

	width: 100%;
	
	background-color: #212121;
	
	text-align: center;
}

#footer #socials i
{
	padding: 7px;
	
	color: #454545;
	font-size: 24px;
	
	transition: 0.4s;
}

#footer #socials i:hover
{
	color: #ffffff;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
	#header
	{
		display: block;
		margin: 0;
		padding: 15px;

		position: relative;
	}

	#header #navbar
	{
		display: none;
		padding: 20px 5px 0px 0px;

		text-align: right;

		overflow: hidden;
	}

	#header #navbar i
	{
		display: none;
	}

	#header #navbar ul li
	{
		display: inline;
		padding: 0;
	}

	#header #hamburger-menu
	{
		transition: 0.4s;

		box-sizing: border-box;

		margin-top: 5px;
		margin-right: 20px;
		padding: 10px;

		display: block;
		position: absolute;

		right: 0;
		top: 0;

		color: #000000;
	}

	#header #hamburger-menu:hover
	{
		background-color: #000000 !important;

		color: #ffffff !important;
	}

	#wrapper-search
	{
		height: 200px;
	}

	#wrapper-banner
	{
		padding: 20px;
	}

	#content
	{
		margin: 30px 20px;
	}

	#footer #info
	{
		
		margin: 0;
		padding: 30px;
		min-height: 300px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1024px)
{
	#header
	{
		display: block;
		margin: 0;
		padding: 15px;

		position: relative;
	}

	#header #navbar
	{
		display: none;
		padding: 20px 5px 0px 0px;

		text-align: right;

		overflow: hidden;
	}

	#header #navbar i
	{
		display: none;
	}

	#header #navbar ul li
	{
		display: inline;
		padding: 0;
	}

	#header #hamburger-menu
	{
		transition: 0.4s;

		box-sizing: border-box;

		margin-top: 5px;
		margin-right: 20px;
		padding: 10px;

		display: block;
		position: absolute;

		right: 0;
		top: 0;

		color: #000000;
	}

	#header #hamburger-menu:hover
	{
		background-color: #000000 !important;

		color: #ffffff !important;
	}

	#wrapper-search
	{
		height: 200px;
	}

	#wrapper-banner
	{
		display: none;
	}

	#content
	{
		margin: 30px 20px;
	}

	#footer #info
	{
		display: block;
		margin: 0;
		padding: 30px;

		min-height: 700px;
	}

	#footer #info .col
	{
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 600px)
{
	#header
	{
		display: block;
		margin: 0;
		padding: 15px;

		position: relative;
	}

	#header #navbar
	{
		display: none;
		padding: 20px 5px 0px 0px;

		text-align: right;

		overflow: hidden;
	}

	#header #navbar i
	{
		display: none;
	}

	#header #navbar ul li
	{
		display: inline;
		padding: 0;
	}

	#header #hamburger-menu
	{
		transition: 0.4s;

		box-sizing: border-box;

		margin-top: 5px;
		margin-right: 20px;
		padding: 10px;

		display: block;
		position: absolute;

		right: 0;
		top: 0;

		color: #000000;
	}

	#header #hamburger-menu:hover
	{
		background-color: #000000 !important;

		color: #ffffff !important;
	}

	#wrapper-search
	{
		height: 200px;
	}

	#wrapper-banner
	{
		display: none;
	}

	#content
	{
		margin: 30px 20px;
	}

	#footer #info
	{
		display: block;
		margin: 0;
		padding: 30px;

		min-height: 700px;
	}

	#footer #info .col
	{
		margin-bottom: 20px;
	}
}